<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="invisible-div" hidden="hidden"><a id="invisible-a">Some Text</a></div>
{% block content %}{% endblock %}
</body>
{% block scripts %}{% endblock %}
</html>
