{% extends "base.html" %}
{% block content %}
  <div id="filter-container">
    {%  for id in checkboxes %}
      <label for="{{ id }}">{{ id }}</label><input class="fc1" type="checkbox" id="{{ id }}">
    {% endfor %}
    <input id="submit" type="button" onclick='resultPage();' value="Btn">
  </div>
{% endblock %}
{% block scripts %}
  <script type="application/ecmascript">
    function resultPage() {
      const checkboxList = document.getElementById('filter-container').getElementsByClassName('fc1');
      let result = [];
      for (let i = 0; i < checkboxList.length; i++) {
        const checkbox = checkboxList.item(i);
        result[i] = `${checkbox.attributes['id'].value}:${checkbox.checked}`;
      }
      window.location.replace(`/result?text=${result.join(',')}`);
    }
  </script>
{% endblock %}
