{% extends "base.html" %}
{% block content %}
  <div id="filter-container">
    <label for="simple-select-1">Simple Select!</label>
    <select id="simple-select-1">
      {% for option in options %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
      {% endfor %}
    </select>
    <input id="submit" type="button" onclick='resultPage();' value="Btn">
  </div>
{% endblock %}
{% block scripts %}
  <script type="application/ecmascript">
    function resultPage() {
      const select = document.getElementById('simple-select-1');
      const selectedItem = select[select.selectedIndex];
      window.location.replace(`/result?text=${selectedItem.value}:${selectedItem.text}`);
    }
  </script>
{% endblock %}
